.header{
    background-color: midnightblue;
    font-size: 2rem;
    padding: 2rem 0px;
}

.header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.header ul{
    padding: 0px;
    margin: 0px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.header li{
    list-style: none;
    display: block;
}