.job{
    &:first-child{
        border-top: 2px solid $color-primary;;
    }

    &:nth-child(even){
        background-color: $color-alt-item;
        border: 2px solid $color-primary;
    }

    border-left: 2px solid $color-primary;
    border-right: 2px solid $color-primary;
    padding: 4rem 2rem;

    h3{
        display: inline;
        line-height: 2;
    }
    span{
        float: right;
    }
    li{
        list-style: url(../../public/svgs/intersect.svg); //changed the size and color
    }
}