.projects-grid{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 3rem;

    p{
        color: $color-text-light;
    }

    @include respond(phone) { // width < 600?
        grid-template-columns: 1fr;
    }
}