@import '../abstracts/mixins';
@import '../abstracts/variables';

.footerClass{
    background-color: midnightblue;
    padding: 1rem 3rem 3rem 3rem;
    margin-top: 10rem;

    ul{
        display: flex;
        flex-direction: row;

        li{
            list-style: none;
            margin-right: 5rem;
        }

        i{
            font-size: 4rem;
            color: white;
            cursor: pointer;
        }

        .my-email, .my-phone-number{
            position: absolute;
            right: 3rem;
            padding: 1rem 2rem;
            background-color: $color-primary;
            color: white;
            border-radius: 3rem;
            transition: transform 0.5s cubic-bezier(1, 2.5, 0.4, 1.8);
        }
        // .my-email{
        //     bottom: -5rem;

        //     @include respond(tab-port){
        //         bottom: 0;
        //     }
        // }
        // .my-phone-number{
        //     bottom: -10rem;

        //     @include respond(tab-port){
        //         bottom: -5rem;
        //     }

        //     @include respond(phone){
        //         bottom: 0;
        //     }
        // }
    }
}